@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: #7f7f7f;
}


html,
body,
#root {
  height: 100%;
  overflow: hidden;
  user-select: none;
}


input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}
